# Created by .ignore support plugin (hsz.mobi)
*.class
*.log
*.ctxt
.mtj.tmp/
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar
hs_err_pid*
# IntelliJ IDEA modules and interim config files.
*.iml
.idea/libraries
.idea/shelf
.idea/*.xml
.idea/artifacts
.idea/modules
# Do not ignore code style settings.
!/.idea/codeStyleSettings.xml
/out/
.idea_modules/
atlassian-ide-plugin.xml
com_crashlytics_export_strings.xml
crashlytics.properties
crashlytics-build.properties
fabric.properties
.gradle
**build/
**generated
gradle-app.setting
!gradle-wrapper.jar
.gradletasknamecache
